body {
    background-color: antiquewhite;
}

.row{
    padding: 0px;
    outline: double;
    outline-color: black;
    outline-width: 1px;
}

#controls{
    height: 100px;
}

body {
    padding: 5px;
}

html, body {
    height: 100vh;
    overflow-y: scroll;
}

.container-fluid{
    height: 100vh;
    width: 99vw;
}

