body {
    background-color: antiquewhite;
}

.row{
    padding: 0px;
    border-collapse: collapse;
    outline: double;
    outline-color: black;
    outline-width: 1px;
}

#controls{
    height: 100px;
}

body {
    padding: 5px;
}

html, body {
    height: 100vh;
    overflow-y: scroll;
}

.container-fluid{
    width: 99vw;
}

#bankTable {
    line-height: 23px;
}

td, th {
    text-align: center;
}

#right{
    display: flex;
    flex-direction: column;
}

#playerDiv{
    padding: 4px;
    flex-grow: 1;
}

